
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Times New Roman", Times, serif;
}

h2 {
	font-size: 42px;
}

table {
	letter-spacing: 1.5px;
}

td {
	text-align: center;
}

button{
	border:none;
	background: white;
    transition: 1s;
}
/*
The purpose of the media query below
is to provide the proper parameters of spacing
for the letters as seen here.

*/

@media only screen and (orientation: portrait){
	*{
		letter-spacing: 1px;
	}
}